
#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#content {
    background-color: #ccc;
    margin: 0 auto;
}

.center_content {
    margin-right: 10%;
    margin-left: 10%;
    position: relative;
    background-color: #dddddd;
    padding: 5px;
    min-height: 500px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}

.radio {
    position:relative; /* Position so children are relative to this container */
    border:0; /* Remove the border */
}

.radio span {
    position:absolute; /* Take the content of the legend out of flow */
    top:0;left:0; /* and position it to the top left of the fieldset */
    width:5em; /* Same width as labels */
}

.radio ul {
    margin-left:5em; /* Since the legend is out of flow. set margin, so inputs are inline */
    list-style:none; /* Dont want bullets */
}

.radio li {
    position:relative; /* Fix a bug in IE zoom functionality */
    display:inline; /* Display the inputs in a line */
    white-space:nowrap; /* We dont want a label to wrap between the input and label */
}

.radio label, .radio input {
    width:auto; /* Reset the width on the label from the 5em, set earlier */
    float:none; /* Reset the float from left on the label, set earlier */
    vertical-align:middle; /* Align the radio buttons with the inputs */
}